<%- include('./partials/header.ejs') %>
    <div
      class="
        d-flex
        flex-grow-1
        justify-content-center
        align-items-start
        mt-5
      "
    >
      <% if (user.roles[0]==='root') { %> 
      <div class="card mx-5" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <i class="icon ion-ios-locked-outline pr-3"></i>Senha do root
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Guarde sua senha em segurança
          </h6>
          <form method="post" class="login-dark">
            <h6>
              <%= rootname %>
            </h6>
            
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                name="rootpass"
                placeholder="Nova senha"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">
                Gravar nova senha
              </button>
            </div>
          </form>
        </div>
      </div>
      <br />
      <% } %> 
      <div class="card mx-5" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            <i class="icon ion-person-add pr-2"></i>
            Adicionar usuários
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Crie novos usuários</h6>
          <form method="post" class="login-dark">
            <div class="form-group">
              <input
                class="form-control"
                type="username"
                name="username"
                placeholder="Nome de usuario"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Permissões</label>
              <select 
                multiple 
                class="form-control" 
                id="exampleFormControlSelect1"
                type=roles
                name=roles
              >
                <% roles.map(role => {%> 
                <option><%= role %></option>
                <% }) %> 
              </select>
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Senha"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">
                Salvar usuário
              </button>
            </div>
          </form>
        </div>

        <%- include('./partials/users_list.ejs') %>

      </div>
    </div>
<%- include('./partials/footer.ejs') %>